@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-white: #FFFFFF;
  --color-navy-950: #303B59;
  --color-navy-200: #CAC9FF;
  --color-navy-50: #ECF2FF;

  --color-blue-800: #1125D6;
  --color-blue-50: #F3F4FD;

  --color-yellow-400: #FFB21E;
  --color-yellow-50: #FFFBF4;

  --color-red-400: #FF5555;
  --color-red-50: #FFF6F6;

  --color-green-400: #00BB8F;
  --color-green-50: #F2FCF9;

  --font-hanken-grotesk: 'Hanken Grotesk', sans-serif;
  --font-size-base: 18px;
  --font-size-sm: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-2xl: 56px;
  --font-size-3xl: 72px;

  --spacing: 8px;
}

@utility text-preset-1 {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-3xl);
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-2xl);
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-3 {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

@utility text-preset-4 {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

@utility text-preset-5-bold {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

@utility text-preset-5-medium {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0px;
}

@utility text-preset-6-bold {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

@utility text-preset-6-medium {
  font-family: var(--font-hanken-grotesk);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;
}

* {
  font-family: var(--font-hanken-grotesk);
}

#root {
  @apply min-h-screen flex w-full md:justify-center md:items-center bg-blue-50;
}


.results-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
}

.results-list-item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
